<div class="component">
    <p-toast></p-toast>
    <p class="title"><span>pages</span> / Utilisateurs</p>
    <form >
        <div class="barre-rech">
            <!-- <input type="text" placeholder="Rechercher un utilisateur" class="rech">
            <button class="btn-rech" ><i class="bi bi-search"></i></button> -->
            <button class="ajoute btn btn-success" routerLink="/app/stats-user"><i class="bi bi-graph-down"></i></button>
        </div>
    </form>
    <div class="products">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.nom}}</td>
                    <td>{{user.prenom}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button type="button" (click)="archiver(user.id)" *ngIf="!user.archived" class="btn btn-danger">Archiver</button>
                        <button type="button" (click)="activer(user.id)" *ngIf="user.archived" class="btn btn-success">Activer</button>
                        <button type="button" data-bs-toggle="modal" (click)="showUser(user.id, user.nom, user.prenom, user.email)" data-bs-target="#staticBackdrop" class="btn btn-primary">Modifier</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier un utilisateur</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modifUser">
            <div class="line">
                <div class="txt-box">
                    <label for="libelle">Nom</label>
                    <input type="text" id="Nom" formControlName="nom" [(ngModel)]="nom" name="Nom" placeholder="Nom">
                </div>
                <div class="txt-box">
                    <label for="libelle">Prénom</label>
                    <input type="text" id="Prenom" formControlName="prenom" [(ngModel)]="prenom" name="Prenom" placeholder="Prénom">
                </div>
            </div>
            <div class="line">
                <div class="txt-box">
                    <label for="libelle">Email</label>
                    <input type="text" id="Email" formControlName="email" size="26" [(ngModel)]="email" name="Email" placeholder="Email">
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="modifier()" data-bs-dismiss="modal">Modifier</button>
        </div>
      </div>
    </div>
</div>