<p class="title"><span>pages</span> / Statistique utilisateurs</p>
<div class="container text-center">
    <div class="row row1">
      <div class="col performance-indicator">
        <div class="number">{{active}}</div>
        <p class="desc">Activé</p>
      </div>
      <div class="col performance-indicator">
        <div class="number">{{archive}}</div>
        <p class="desc">Archivé</p>
      </div>
      <div class="col performance-indicator">
        <div class="number">{{desactive}}</div>
        <p class="desc">Desactivé</p>
      </div>
    </div>
    <div class="row row2">
        <div class="col">
            <div class="chart-container">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
        <div class="col">
            <div class="chart-container1">
                <p-chart type="doughnut" [data]="data1" [options]="options1"></p-chart>
              </div>              
        </div>
      </div>
  </div>

