.container {
  padding: 20px;
  margin-top: 20px;
}

.title span {
  color: darkgray;
}

.title {
  margin-top: 40px;
  margin-left: 25px;
}

.row1 {
  margin-bottom: 50px;
}

.row1 .col {
  margin: 20px;
  padding: 2px;
}

.performance-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 20px;
  border: 2px solid #36A2EB;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.performance-indicator:hover {
  transform: translateY(-5px);
}

.number {
  font-size: 48px;
  font-weight: bold;
  color: #36A2EB;
}

.desc {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.row2 .col {
  margin: 20px;
}

.chart-container {
  height: 300px;
}

.total-rendez-vous {
  font-size: 48px;
  font-weight: bold;
  color: #36A2EB;
}
.performance-indicatorrdv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  border: 2px solid #36A2EB;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.performance-indicatorrdv:hover {
  transform: translateY(-5px);
}

.numberrdv {
  font-size: 48px;
  font-weight: bold;
  color: #36A2EB;
}

.descrdv {
  font-size: 18px;
  color: #555;
  margin: 0;
}

