<div class="container">
  <h1 class="title">Dashboard Rendez-Vous</h1>
  <div class="col performance-indicatorrdv">
    <div class="total-rendez-vous">
      <p class="descrdv">Total Rendez-vous</p>
      <div class="numberrdv">{{ totalRendezVous }}</div>
    </div>
  </div>
  <div class="chart-container">
    <p-chart type="pie" [data]="data" [options]="options"></p-chart>
  </div>
  <div class="status-summary">
    <h3>Status Summary</h3>
    <p>Highest Status: {{ highestStatus.status }} - {{ highestStatus.count }} ({{ highestStatus.percentage | number:'1.2-2' }}%)</p>
    <p>Lowest Status: {{ lowestStatus.status }} - {{ lowestStatus.count }} ({{ lowestStatus.percentage | number:'1.2-2' }}%)</p>
  </div>
  <div class="chart-container">
    <p-chart type="bar" [data]="highLowChartData" [options]="highLowChartOptions"></p-chart>
  </div>
</div>
