<h2 mat-dialog-title>Ajouter Matière</h2>
<mat-dialog-content>
  <form [formGroup]="matiereForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom">
      <mat-error *ngIf="matiereForm.controls['nom'].hasError('required')">
        Nom est obligatoire
      </mat-error>
      <mat-error *ngIf="matiereForm.controls['nom'].hasError('alphabetic')">
        Nom doit contenir uniquement des lettres
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="matiereForm.controls['description'].hasError('required')">
        Description est obligatoire
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!matiereForm.valid">Add</button>
</mat-dialog-actions>
