<div class="sidebar">
    <div class="logo">
        <img src="assets/img/logo.png" alt="">
        <h3>EdTech</h3>
    </div>
    <div class="profile">
        <h3>Role</h3>
        <p>username</p>
    </div>
    <ul class="menu">
        <li routerLink="/app/gestion-users"><i class="bi bi-cart-dash-fill"></i>Utilisateurs</li>
        <li routerLink="/app/list-event"><i class="bi bi-people-fill"></i>Evenements</li>
        <li routerLink="/app/ajout-event"><i class="bi bi-bag-check-fill"></i>Ajouter evenement</li>
        <li routerLink="/app/rdv-list"><i class="bi bi-bag-check-fill"></i>Rendez-Vous</li>
    </ul>
    <div class="out" (ngclick)="logout()">
        <i class="bi bi-door-open-fill"></i>
        Log out
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
