<div class="card grid grid-nogutter">
  <div class="col-12 md:col-6 drag-column">
    <h2 class="text-center text-primary mb-4">Les repas disponible</h2>
    <div *ngFor="let product of availableProducts">
      <div
        draggable="true"
        class="product-item"
        (dragstart)="dragStart($event, product)"
        (dragend)="dragEnd()"
      >
        <div class="product-list-detail">
          <h5 class="mb-2">
            {{ product.nom }}
          </h5>
          <i class="pi pi-tag product-category-icon"></i>
          <span class="product-category">
            {{ product.categorie }}
          </span>
        </div>
        <div class="product-list-action">
          <h6 class="mb-2">
            {{ product.calories }}
          </h6>
          <p-tag>calories</p-tag>
        </div>
        <div class="product-list-action">
          <h6 class="mb-2">
            {{ product.poidsProteines }}
          </h6>
          <p-tag>poids Proteines</p-tag>
        </div>
        <div class="product-list-action">
          <h6 class="mb-2">
            {{ product.poidsCarbs }}
          </h6>
          <p-tag>poids Carbs</p-tag>
        </div>
      </div>
    </div>
  </div>
<h2 class="text-center my-4">Ton menu</h2>
  <div
    class="col-12 md:col-6 drop-column"
    (drop)="drop($event)"
    (dragover)="allowDrop($event)"
    (dragleave)="dragLeave($event)"
  >
    <p-table [value]="selectedProducts">
      <ng-template pTemplate="header">
        <tr>
          <th>Nom</th>
          <th>Type plat</th>
          <th>Calories</th>
          <th>Poids Proteines</th>
          <th>Poids Carbs</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.nom }}</td>
          <td>{{ product.categorie }}</td>
          <td>{{ product.calories }}</td>
          <td>{{ product.poidsProteines }}</td>
          <td>{{ product.poidsCarbs }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeProduct(product)">Remove</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="text-center mt-4">
      <button class="btn btn-primary" (click)="saveMenu()">Save Menu</button>
    </div>
  </div>
</div>