<!-- Start Landing Page -->
<div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo">ed <b>Tech</b></a>
        <ul class="links">
          <li routerLink="/login">Connexion</li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Nous cherchons les meilleurs</h1>
          <h1>Rejoignez-nous</h1>
          <button routerLink="/register">Inscription</button>
        </div>
        <div class="image">
          <img src="./../../../assets/img/undraw_programming_re_kg9v.svg">
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->