<!-- <div class="container">
    <header>
        <img class="logo" src="img/Logo.png" alt="Logo">
        <nav>
            <ul class="nav__links">
                <li><a href="#sdg1">Quels sont les ODDs ?</a></li>
                <li><a href="#sdg1">SDG 1: No Poverty</a></li>
                <li><a href="#sdg2">SDG 4: Quality Of Education</a></li>
                <li><a href="#sdg2">SDG 4: Partie 4</a></li>
                <li><a href="#sdg2">SDG 4: Partie 5</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Conclusion</button></a>
    </header>
    <div class="titre">
        <h1>ODD : Vers un Avenir Durable</h1>
        <a href="#intro"><i class="bi bi-arrow-down"></i></a>
    </div>
    <div id="particles-js"></div>
    <script type="text/javascript" src="../../../assets/JS/particles.js"></script>
    <script type="text/javascript" src="../../../assets/JS/app.js"></script>
</div> -->
<!-- <particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> -->