<div class="globalButtons">
  <p-button label="Add Class" [text]="true" [raised]="true" icon="pi pi-plus" (click)="showAddClassDialog()"></p-button>
</div>

<div class="card">
  <p-toast></p-toast>
  <p-table [value]="classes" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap justify-content-end gap-2">
        <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()"></p-button>
        <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
        <th pSortableColumn="specialite">Specialite <p-sortIcon field="specialite"></p-sortIcon></th>
        <th pSortableColumn="nbreEtudiant">Number of Students <p-sortIcon field="nbreEtudiant"></p-sortIcon></th>
        <th pSortableColumn="nbreCapacite">Capacity <p-sortIcon field="nbreCapacite"></p-sortIcon></th>
        <th>
          <p-button label="Actions" icon="pi pi-cog" text></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-classe let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" pRipple [pRowToggler]="classe" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></p-button>
        </td>
        <td>{{ classe.nom }}</td>
        <td>{{ classe.specialite }}</td>
        <td>{{ classe.nbreEtudiant }}</td>
        <td>{{ classe.nbreCapacite }}</td>
        <td>
          <p-button label="Add Student" icon="pi pi-plus" [rounded]="true" (click)="showAddStudentDialog(classe.id)" class="p-button-danger"></p-button>
          <p-button label="Edit" icon="pi pi-pencil" [rounded]="true" (click)="editClass(classe)" class="p-button-success"></p-button>
          <p-button label="Delete" icon="pi pi-trash" [rounded]="true" (click)="deleteClasse(classe)" class="p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-classe>
      <tr>
        <td colspan="6">
          <div class="p-3">
            <p-table [value]="classe.etudiants" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                  <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-etudiant>
                <tr>
                  <td>{{ etudiant.id }}</td>
                  <td>{{ etudiant.name }}</td>
                  <td>{{ etudiant.email }}</td>
                  <td>
                    <p-button label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteStudent(classe.id, etudiant.email)"></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">There are no students in this class yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    
  </p-table>
</div>

<p-dialog header="Add Class" [(visible)]="displayAddClassDialog" modal="true" [style]="{width: '50vw'}">
  <form [formGroup]="classForm" (ngSubmit)="addClass()">
    <div class="p-fluid">
      <!-- Hidden input for class ID -->
      <input type="hidden" formControlName="id" />

      <div class="p-field">
        <label for="nom">Name</label>
        <input id="nom" type="text" pInputText formControlName="nom" />
      </div>
      <div class="p-field">
        <label for="specialite">Specialite</label>
        <input id="specialite" type="text" pInputText formControlName="specialite" />
      </div>
      <div class="p-field">
        <label for="nbreEtudiant">Number of Students</label>
        <input id="nbreEtudiant" type="number" pInputText formControlName="nbreEtudiant" />
      </div>
      <div class="p-field">
        <label for="nbreCapacite">Capacity</label>
        <input id="nbreCapacite" type="number" pInputText formControlName="nbreCapacite" />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Save" [rounded]="true" icon="pi pi-check" type="submit"></p-button>
        <p-button label="Cancel" [rounded]="true" icon="pi pi-times" (click)="displayAddClassDialog = false"></p-button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog header="Add Student" [(visible)]="displayAddStudentDialog" modal="true" [style]="{width: '30vw'}">
  <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="studentId">Student Email</label>
        <input id="studentId" type="text" pInputText formControlName="studentId" />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Save" [rounded]="true" icon="pi pi-check" type="submit"></p-button>
        <p-button label="Cancel" [rounded]="true" icon="pi pi-times" (click)="displayAddStudentDialog = false"></p-button>
      </div>
    </div>
  </form>
</p-dialog>
